body {
    background-color: #5F0F40;
}

h1 {
    text-align: center;
    margin-left: 3mm;
    font-family: 'Josefin Sans', sans-serif;
    color: #FB8B24; }

    h2 {
        text-align: left;
        margin-left: 3mm;
        font-family: 'Josefin Sans', sans-serif;
        color: #FB8B24; }